.games-list {
	list-style: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	width: 70%;
}

.game-element {
	/*border: 1px solid black;*/
	margin-bottom: 7px;
	padding: 5px 5px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.game-heading {
	display: flex;
	justify-content: space-between;
}

.date-time {
	float: left;
	color: #929eb2;
	font-size: 0.9rem;
}

.location {
	float: right;
	color: #929eb2;
	font-size: 0.9rem;
}

.team-line {
	/*margin: 0 0;*/
	text-transform: uppercase; 
	margin: 0 3px;
	font-size: 1.2rem;
}

.division {
	font-size: 0.8rem;
	color: #929eb2;
	margin-left: 3px;
}

.record {
	margin: 0 0;
	font-size: 0.8rem;
	vertical-align: middle;
	color: #D90000;
}

@media (max-width: 696px) {
	.games-list {
		max-width: 80%;
	}
}